@charset "shift_jis";

/** -------------------------------- **
	カテゴリーメニュー
*** ----------------------------------------------------------------- ***/

#contents .left_contents h4 {
width:200px;
height:36px;
margin:0;
padding:0;
text-align:left;
text-indent:-9999px;
background:url(../images/menu-tit.gif) no-repeat;
}


/**********************
　ローカルメニュー
**********************/

#contents .left_contents .bg_local_menu {
width:189px;
margin:0 auto;
padding:0;
list-style:none;
background:url(../images/bg_local-menu_btm.gif) bottom no-repeat #ffffff;
}

#contents .left_contents ul.local_menu {
width:186px;
margin:0 auto;
padding:0 1px 0 2px;
list-style:none;
background:url(../images/bg_local-menu.gif) top no-repeat;
overflow:hidden;
}

#contents .left_contents ul.local_menu li {
margin:0 0 -1px;
padding:10px 0 10px 30px;
text-align:left;
border-bottom:1px solid #aaaaaa;
background:url(../../common/images/icon_arr01.gif) 10px no-repeat;
}

#contents .left_contents ul.local_menu li.none {
margin:0;
padding:10px 0 10px 30px;
text-align:left;
border-bottom:none;
background:url(../../common/images/icon_arr01.gif) 10px no-repeat;
}


/**********************
　ニュースリスト
**********************/

#contents .right_contents .sec_main dl {
	width:694px;
	margin:0;
	padding:10px 0 10px 0;
	text-align:left;
	background:url(../../common/images/dotted_line01.gif) left bottom repeat-x;
}

#contents .right_contents .sec_main dl dt {
	float:left;
	width:84px;
	height:auto;
	margin:0;
	padding:0 0 0 16px;
	text-indent:0;
	text-align:left;
	background:url(../../common/images/icon_arr01.gif) left no-repeat;
}

#contents .right_contents .sec_main dl dd {
	float:right;
	width:584px;
	margin:0;
	padding:0 0 0;
	text-align:left;
}

#contents .right_contents .sec_main dl dd img {
	margin-left:10px;
	vertical-align:text-bottom;
}


/**********************
　ニュース詳細
**********************/

.right_contents .sec_main .date {
	padding:0 0 15px;
	text-align:right;
}


/**********************
　見出し
**********************/

#contents .right_contents .sec_main h3 {
width:694px;
margin:0;
padding:0 0 20px;
color:#4ca778;
text-align:center;
}


/**********************
　テキスト関係
**********************/

#contents .right_contents .sec_main .line-none_column p {
	padding-bottom:15px;
}


/*** 箇条書きリスト ***/

#contents .right_contents .sec_main .line-none_column ul {
	width:662px;
	padding:10px 0 0 20px;
	_padding:10px 0 0 25px;
}

*:first-child+html #contents .right_contents .sec_main .line-none_column ul {
	width:662px;
	padding:10px 0 0 25px;
}


#contents .right_contents .sec_main .line-none_column ul li {
	padding:0;
	margin:0;
	text-align:left;
	list-style:outside disc;
}


/*** 番号リスト ***/

#contents .right_contents .sec_main .line-none_column ol {
	width:662px;
	padding:10px 0 0 20px;
	_padding:10px 0 0 25px;
}

*:first-child+html #contents .right_contents .sec_main .line-none_column ol {
	width:662px;
	padding:10px 0 0 25px;
}


#contents .right_contents .sec_main .line-none_column ol li {
	padding:0;
	margin:0;
	text-align:left;
	list-style:outside decimal;
}


/*** リンク ***/

#contents .right_contents .sec_main .line-none_column a {
	padding-left:16px;
	background:url(../../common/images/icon_arr01.gif) left no-repeat;
}
