<mt:if name="scope" eq="website">
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild website"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild website"></mt:setvarblock>
<mt:elseif name="scope" eq="blog">
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild blogs"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild blogs"></mt:setvarblock>
<mt:else>
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild sites"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild sites"></mt:setvarblock>
</mt:if>

<mt:include name="include/header.tmpl" id="header_include">

<mt:if name="start">
<p><__trans phrase="Start Rebuilding..." ></p>
<mt:else>
<p>
<img src="<mt:var name="static_uri">images/ani-rebuild.gif" />
<MT_TRANS phrase="Rebuilding"> - <$mt:var name="blog_name" encode_html="1"$>
</p>
</mt:if>

<script type="text/javascript">
setTimeout(function () {
    document.location.href = '<$mt:var name="next_uri"$>';
}, 500);
</script>

<mt:include name="include/footer.tmpl" id="footer_include">
