## DynamicViewer for MovableType5 (C) 2010 Skyarc System, Ltd. All Rights Reserved.

SetEnv MT_HOME %%MT_PATH%%/

Options -Indexes +SymLinksIfOwnerMatch
<IfModule mod_rewrite.c>
  <IfModule mod_dir.c>
    DirectoryIndex index.php index.html index.htm index.xml default.htm default.html default.asp
  </IfModule>

  RewriteEngine on
%%EXCLUDE_CSS%%
%%EXCLUDE_JS%%
%%EXCLUDE_PATH_LIST%%

  RewriteCond %{REQUEST_FILENAME} !^%%SITE_PATH%%/%%PLUGIN_NAME%%(\?.*)?$
  RewriteRule ^(.*)(\?.*)?$ %%RELATIVE_SITE_URL%%%%PLUGIN_NAME%% [L,QSA]

</IfModule>
