<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<MTIf name="use_mt_blog_template_set_ver42">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
  <$mt:include module="HTMLヘッダー"$>
<title><$mt:var name="title" escape="html"$></title>
<link rel="stylesheet" type="text/css" href="<$mt:var name="static_uri"$>plugins/AForm/style.css" />
</head>
<body id="<$mt:BlogTemplateSetID$>" class="mt-entry-archive <$mt:Var name="page_layout"$>">
    <div id="container">
        <div id="container-inner">
            <$mt:include module="バナーヘッダー"$>
            <div id="content">
                <div id="content-inner">
<MTElse>
  <$mt:include module="ヘッダー"$>
</MTIf>

<div id="aform-<$mt:var name="id"$>" class="aform">
<div class="aform-header"><$mt:var name="aform_title" escape="html"$></div>
<div class="aform-content" id="aform_result">
送信完了しました。<a href="<mt:var name="blog_top">">トップページに戻る</a>
</div>
</div>

<MTIf name="use_mt_blog_template_set_ver42">
                </div>
            </div>
            <$mt:include module="バナーフッター"$>
        </div>
    </div>
</body>
</html>
<MTElse>
  <$mt:include module="フッター"$>
</MTIf>
