<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<form name="aform-field-form" id="aform-field-form" method="post" action="<$mt:var name="script_url"$>">
    <input type="hidden" name="id" value="<$mt:var name="aform_id"$>" />
    <input type="hidden" name="run_mode" value="complete" />
    <input type="hidden" name="_type" value="aform" />
    <$mt:var name="hidden"$>
</form>

<$mt:if name="type" eq="radio">
radioです
</if>

<$mt:if name="type" eq="checkbox">
checkboxです
</if>

<$mt:if name="type" eq="select">
selectです
</if>
