<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:setvarblock name="page_title"><$mt:var name="display_title" escape="html"$></mt:setvarblock>
<$mt:setvar name="position_actions_bottom" value="1"$>


<mt:setvarblock name="system_msg">
    <div id="msg-block">

    <mt:unless name="recovered_object">
        <mt:if name="autosaved_object_exists">
            <mtapp:statusmsg
                id="recovered-object"
                class="info">
                <__trans phrase="A saved version of this [_1] was auto-saved [_3]. <a href="[_2]">Recover auto-saved content</a>" params="<mt:var name="object_label">%%<mt:var name="script_url">?__mode=view&amp;_type=<mt:var name="object_type">&amp;_recover=1<mt:if name="id">&amp;id=<mt:var name="id"></mt:if><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>%%<mt:date ts="$autosaved_object_ts" relative="1">">
            </mtapp:statusmsg>
        </mt:if>
    </mt:unless>

    <mt:if name="saved_added">
        <mtapp:statusmsg
            id="saved-added"
            class="success">
            <__trans phrase="Your [_1] has been saved." params="<$mt:var name="object_label" lower_case="1"$>">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_changes">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <__trans phrase="Your changes have been saved.">
          <mt:if name="aform_status" ne="2">
            <__trans phrase="Currently, This form status is Unpublished.">
            <a href="<mt:var name="script_url">?__mode=change_aform_status&amp;id=<mt:var name="aform_id">&amp;blog_id=<mt:var name="blog_id">&amp;redirect_mode=edit_aform_field"><__trans phrase="Publish this A-Form."></a>
          </mt:if>
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="saved_prefs">
        <mtapp:statusmsg    
            id="saved-prefs"
            class="success">
            <__trans phrase="Your customization preferences have been saved, and are visible in the form below.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_notify">
        <mtapp:statusmsg    
            id="saved-notify"
            class="success">
            <__trans phrase="Your notification has been sent.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_object">
        <mtapp:statusmsg    
            id="recovered-object"
            class="success">
            <__trans phrase="You have successfully recovered your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_failed">
        <mtapp:statusmsg    
            id="recovered-failed"
            class="error">
            <__trans phrase="An error occurred while trying to recover your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_deleted">
        <mtapp:statusmsg    
            id="saved-deleted"
            class="success">
            <__trans phrase="You have successfully deleted the checked comment(s).">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="exists_form_data">
        <mtapp:statusmsg    
            id="exists-form-data"
            class="info">
            <__trans phrase="Form data exists. Please download and clear data first.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="status_changed">
        <mtapp:statusmsg    
            id="status_changed"
            class="success">
          <mt:if name="aform_status" eq="2">
            <__trans phrase="Status was changed Published.">
          <mt:else>
            <__trans phrase="Status was changed Unpublished.">
          </mt:if>
        </mtapp:statusmsg>
    </mt:if>

        <mtapp:statusmsg    
            id="status-published"
            class="success">
          <mt:if name="aform_status" eq="2">
            <__trans phrase="Currently, Form Status is Published.">
            <a href="<mt:var name="script_url">?__mode=change_aform_status&amp;id=<mt:var name="aform_id">&amp;blog_id=<mt:var name="blog_id">&amp;redirect_mode=edit_aform_field"><__trans phrase="Unpublish this A-Form."></a>
          <mt:else>
            <__trans phrase="Currently, Form Status is Unpublished.">
            <a href="<mt:var name="script_url">?__mode=change_aform_status&amp;id=<mt:var name="aform_id">&amp;blog_id=<mt:var name="blog_id">&amp;redirect_mode=edit_aform_field"><__trans phrase="Publish this A-Form."></a>
          </mt:if>
        </mtapp:statusmsg>
    </div>
</mt:setvarblock>

<mt:setvarblock name="related_content">
<!-- Start of Right Side Box -->

    <!-- Start of Widget(AForm's Field Extra Types) -->
    <mtapp:widget
        id="display-aform-field-extra-types"
        label="<__trans phrase="AForm Field Extra Types">">
                    <ul>
                        <li class="aform-field-type" id="aformFieldType-email"><label><a href="javascript:void(0)" title="<__trans phrase="tip_email">"><__trans phrase="AForm Field Extra Type Email"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-zipcode"><label><a href="javascript:void(0)" title="<__trans phrase="tip_zipcode">"><__trans phrase="AForm Field Extra Type ZipCode"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-prefecture"><label><a href="javascript:void(0)" title="<__trans phrase="tip_prefecture">"><__trans phrase="AForm Field Extra Type Prefecture"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-tel"><label><a href="javascript:void(0)" title="<__trans phrase="tip_tel">"><__trans phrase="AForm Field Extra Type Telephone"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-url"><label><a href="javascript:void(0)" title="<__trans phrase="tip_url">"><__trans phrase="AForm Field Extra Type URL"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-privacy"><label><a href="javascript:void(0)" title="<__trans phrase="tip_privacy">"><__trans phrase="AForm Field Extra Type Privacy"></a></label></li>
                    </ul>
    </mtapp:widget>
    <!-- End of Widget(AForm's Field Extra Types) -->

    <!-- Start of Widget(AForm's Field Types) -->
    <mtapp:widget
        id="display-aform-field-types"
        label="<__trans phrase="AForm Field Types">">
                    <ul>
                        <li class="aform-field-type" id="aformFieldType-label"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Label"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-note"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Note"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-text"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Text"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-textarea"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Textarea"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-select"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Select"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-checkbox"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Checkbox"></a></label></li>
                        <li class="aform-field-type" id="aformFieldType-radio"><label><a href="javascript:void(0)"><__trans phrase="AForm Field Type Radio"></a></label></li>
                    </ul>
    </mtapp:widget>
    <!-- End of Widget(AForm's Field Types) -->
    <mtapp:widget>
    <a href="<$mt:var name="edit_field_help_url" escape="html"$>" target="_blank"><__trans phrase="Manual(Edit Form)"></a>
    </mtapp:widget>
<!-- End of Right Side Box -->
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/jquery.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/jquery.dimensions.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/ui.mouse.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/ui.draggable.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/ui.draggable.ext.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/ui.droppable.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/jquery.tooltip.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/json.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/edit_aform/edit_aform_controller.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/edit_aform/edit_aform.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/edit_aform/edit_aform_view.js"></script>
<script type="text/javascript">
  edit_aform.plugin_static_uri = '<mt:var name="plugin_static_uri" escape="html">';
  edit_aform.alertSaveMsg = '<mt:var name="alert_save_msg">';
  edit_aform.json_fields_data = eval('(<mt:var name="json_aform_fields" escape="js">)');
  edit_aform.phrases = <mt:var name="json_phrases">;
  edit_aform.enable_save = <mt:if name="aform_status" eq="2">false<mt:else>true</mt:if>;
</script>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="plugin_static_uri">edit_aform.css" />
<link rel="stylesheet" type="text/css" href="<mt:var name="plugin_static_uri">jquery.tooltip.css" />
</mt:setvarblock>

<mt:setvarblock name="html_body" append="1">
</mt:setvarblock>

<mt:setvartemplate name="action_buttons">
    <button
        mt:mode="save_entry"
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label" lower_case="1">">"
        class="primary-button"
        ><__trans phrase="Save"></button>
    <button
        mt:mode="preview_entry"
        name="preview_entry"
        type="submit"
        accesskey="v"
        title="<__trans phrase="Preview this [_1] (v)" params="<mt:var name="object_label" lower_case="1">">"
        ><__trans phrase="Preview"></button>
    <mt:if name="id">
    <button
        mt:command="do-remove-items"
        mt:object-singular="<mt:var name="object_label" lower_case="1" escape="html">"
        mt:object-plural="<mt:var name="object_label_plural" lower_case="1" escape="html">"
        mt:object-type="<mt:var name="object_type" escape="html">" mt:blog-id="<mt:var name="blog_id">"
        type="submit"
        accesskey="x"
        title="<__trans phrase="Delete this [_1] (v)" params="<mt:var name="object_label" lower_case="1">">"
        ><__trans phrase="Delete"></button>
    </mt:if>
    <div id="autosave-notification-<$mt:var name="bar_position" default="top"$>" class="autosave-notification"></div>
</mt:setvartemplate>

<mt:include name="include/header.tmpl" id="header_include">

    <mt:if name="aform_id">
    <div id="entry-nav" class="pkg">
        <ul class="inline-nav right">
            <li id="previous-link"><mt:if name="previous_aform_id"><a href="<$mt:var name="script_url"$>?__mode=edit_aform_field&amp;id=<$mt:var name="previous_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Previous"></a><mt:else><span><__trans phrase="Previous"></span></mt:if></li>
            <li id="manage-link"><a href="<$mt:var name="script_url"$>?__mode=list_aform&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Manage A-Form"></a></li>
            <li id="next-link"><mt:if name="next_aform_id"><a href="<$mt:var name="script_url"$>?__mode=edit_aform_field&amp;id=<$mt:var name="next_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Next"></a><mt:else><span><__trans phrase="Next"></span></mt:if></li>
        </ul>
    </div>
    </mt:if>

        <div id="aform-field-editor-header">
            <ul class="ui-tabs-nav" mt:delegate="tab-container">
                <li class="tab selected-tab ui-tabs-selected ui-state-active">
                    <a href="<$mt:var name="script_url"$>?__mode=edit_aform_field&amp;id=<$mt:var name="aform_id"$>"><span><__trans phrase="Edit Field"></span></a>
                </li>
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=edit_aform&amp;id=<$mt:var name="aform_id"$>"><span><__trans phrase="Config Form"></span></a>
                </li>
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=manage_aform_data&amp;id=<$mt:var name="aform_id"$>"><span><__trans phrase="Manage Data"></span></a>
                </li>
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=list_aform_input_error&amp;id=<$mt:var name="aform_id"$>"><span><__trans phrase="List A-Form Input Error"></span></a>
                </li>

            </ul>
        </div>

        <div id="field-edit-field" class="field-edit-field">
        </div>

<form name="aform-field-form" id="aform-field-form" method="post" action="<$mt:var name="script_url"$>">
    <input type="hidden" name="json_aform_fields" id="json_aform_fields" value="" />
    <input type="hidden" name="id" value="<$mt:var name="aform_id"$>" />
    <input type="hidden" name="__mode" value="save_aform_field" />
    <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
    <input type="hidden" name="return_args" value="<$mt:var name="return_args" escape="html"$>" />
    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />

<mt:setvarblock name="action_buttons">
    <button
        id="aformBtnSave"
        type="button"
        accesskey="s"
        title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label" lower_case="1">">"
        class="action primary-button"
        ><__trans phrase="Save"></button>
</mt:setvarblock>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl" id="footer_include">
