<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

<mt:loop name="fields">
<mt:if name="type" eq="label"><$mt:var name="label"$><mt:else>■ <$mt:var name="label"$></mt:if>
<$mt:var name="label_value"$>
</mt:loop>

==================================
<$mt:var name="datetime"$>
==================================

