<mtapp:listing id="customfields" loop="fields" hide_pager="1" show_actions="0" type="fields">
    <mt:if __first__>
        <thead>
            <tr>
                <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
                <th class="field-name primary-col"><__trans phrase="Name"></th>
                <th class="field-object"><__trans phrase="Object"></th>
                <th class="field-type"><__trans phrase="Type"></th>
            </tr>
        </thead>
        <tbody>
    </mt:if>
            <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <td class="cb">
                    <input type="checkbox" name="custom_fields_export_ids" class="select" value="<mt:var name="field_id">" <mt:if checked>checked="checked" </mt:if>/>
                </td>
                <td class="field-name"><mt:var name="field_label" escape="html"></td>
                <td class="field-object"><mt:var name="field_object" escape="html"></td>
                <td class="field-type"><mt:var name="field_type" escape="html"></td>
            </tr>
    <mt:if __last__>
        </tbody>
    </mt:if>
</mtapp:listing>
<script type="text/javascript">
jQuery.mtCheckbox();
</script>
