AuthUserFile  /usr/home/z304150/html/oshirase/student/.htpasswd
AuthGroupFile /dev/null
AuthName      "Basic Authentication"
AuthType      Basic
<Limit POST GET PUT>
require valid-user
</Limit>
<Files .htaccess>
order deny,allow
deny from all
</Files>
