<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:if name="use_mt_blog_template_set_ver42">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
<$mt:include module="HTMLヘッダー"$>
<title><$mt:var name="title" escape="html"$></title>
</head>
<body id="<$mt:BlogTemplateSetID$>" class="mt-entry-archive <$mt:Var name="page_layout"$>">
    <div id="container">
        <div id="container-inner">
            <$mt:include module="バナーヘッダー"$>
            <div id="content">
                <div id="content-inner">
<mt:else>
<$mt:include module="ヘッダー">
</mt:if>

<link type="text/css" href="<mt:var name="static_uri">plugins/AForm/style.css" rel="stylesheet">
<script type="text/javascript">
aform = new Object;
aform.id = '<$mt:var name="id"$>';
aform.logger_url = '<$mt:var name="logger_url"$>';
aform.static_uri = '<mt:var name="static_uri">';

var aform_confirm = new Object();
aform_confirm.msg_success = '送信完了しました。<a href="<mt:var name="blog_top">">トップページに戻る</a>';
</script>
<script src="<mt:var name="static_uri">plugins/AForm/js/scriptaculous/lib/prototype.js" type="text/javascript"></script>
<script src="<mt:var name="static_uri">plugins/AForm/js/aform_confirm.js" type="text/javascript"></script>
<script type="text/javascript"></script>

<div id="aform-<$mt:var name="id"$>" class="aform">
<div class="aform-header"><$mt:var name="aform_title" escape="html"$></div>
<div class="aform-content" id="aform-content">
<form name="aform-confirm-form" id="aform-confirm-form" method="post" action="<$mt:var name="action_url"$>">
    <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />
    <input type="hidden" name="id" value="<$mt:var name="id"$>" />
    <input type="hidden" name="run_mode" value="complete" />
    <input type="hidden" name="use_js" value="" />
    <input type="hidden" name="aform_url" value="<mt:var name="aform_url" escape="html">" />
    <mt:loop name="fields">
    <dl>
<mt:if name="type" eq="label">
      <dt class="aform-hdln"><$mt:var name="label" escape="html"$></dt>
<mt:else>
      <dt>■<$mt:var name="label" escape="html"$></dt>
</mt:if>
      <dd>
        <$mt:var name="label_value"$>
        <mt:if name="type" eq="checkbox">
          <mt:loop name="hash_values">
	    <input type="hidden" name="aform-field-<$mt:var name="id"$>-<$mt:var name="__key__"$>" value="<$mt:var name="__value__" escape="html"$>" />
          </mt:loop>
        <mt:else>
          <mt:if name="type" eq="privacy">
            <mt:loop name="hash_values">
	      <input type="hidden" name="aform-field-<$mt:var name="id"$>-<$mt:var name="__key__"$>" value="<$mt:var name="__value__" escape="html"$>" />
            </mt:loop>
          <mt:else>
            <input type="hidden" name="aform-field-<$mt:var name="id"$>" value="<$mt:var name="value" escape="html"$>" /> 
          </mt:if>
        </mt:if>
      </dd>
    </dl>
    </mt:loop>
<p>以上の内容で送信します。ご確認のうえ、「この内容で送信する」ボタンを押してください。</p>
<noscript><p>修正する場合は、ブラウザの戻るボタンで戻ってください。</p></noscript>

    <div class="submit">
<script type="text/javascript">
  document.write('<input id="aform_btn_back" type="button" value="<__trans phrase="Back">" onclick="history.back();" />');
</script>
    <input id="aform_btn_submit" type="submit" name="Submit" value="この内容で送信する" />

    </div>
</form>
<mt:if name="use_xhr" eq="1">
<script type="text/javascript">
  Event.observe("aform-confirm-form", 'submit', submitAForm);
</script>
</mt:if>
</div>
<div id="aform_result"></div>
</div>

<mt:if name="use_mt_blog_template_set_ver42">
                </div>
            </div>
            <$mt:include module="バナーフッター"$>
        </div>
    </div>
</body>
</html>
<mt:else>
<$mt:include module="フッター"$>
</mt:if>
