<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:if name="preview" eq="1">
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=STATIC_URI>plugins/AForm/edit_aform.css" />
</mt:setvarblock>
<mt:include name="include/aform_preview_header.tmpl">
</mt:if>

<$mt:setvar name="aform_id" value="$id"$>
<script type="text/javascript">
aform = new Object;
aform.id = '<$mt:var name="aform_id"$>';
aform.logger_url = '<$mt:var name="logger_url"$>';
aform.checker_url = '<$mt:var name="checker_url"$>';
aform.phrases = {"Input error:": "入力エラー:"};
aform.static_uri = '<$mt:var name="static_uri"$>';
</script>

<script src="<$mt:var name="static_uri"$>plugins/AForm/js/scriptaculous/lib/prototype.js" type="text/javascript"></script>
<script src="<$mt:var name="static_uri"$>plugins/AForm/js/scriptaculous/src/effects.js" type="text/javascript"></script>
<script src="<$mt:var name="static_uri"$>plugins/AForm/js/prototype.tidbits.1.7.0.js" type="text/javascript"></script>
<script src="<$mt:var name="static_uri"$>plugins/AForm/js/validation.js" type="text/javascript"></script>
<mt:if name="charset" eq="UTF-8">
  <script src="<$mt:var name="static_uri"$>plugins/AForm/js/zenhanconv.js" type="text/javascript"></script>
</mt:if>
<mt:if name="charset" eq="Shift_JIS">
  <script src="<$mt:var name="static_uri"$>plugins/AForm/js/zenhanconv-sjis.js" type="text/javascript"></script>
</mt:if>
<mt:if name="charset" eq="EUC-JP">
  <script src="<$mt:var name="static_uri"$>plugins/AForm/js/zenhanconv-euc.js" type="text/javascript"></script>
</mt:if>

<script src="<$mt:var name="static_uri"$>plugins/AForm/js/aform.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<$mt:var name="static_uri"$>plugins/AForm/style.css" />

<div id="aform-<$mt:var name="aform_id"$>" class="aform">
<div class="aform-header"><$mt:var name="title" escape="html"$></div>
<div class="aform-content">
<form name="aform-form-<$mt:var name="aform_id"$>" id="aform-form-<$mt:var name="aform_id"$>" method="post" action="<$mt:var name="action_url"$>" <mt:if name="preview" eq="1">onsubmit="return false;"</mt:if>>
    <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />
    <input type="hidden" name="id" value="<$mt:var name="aform_id"$>" />
    <input type="hidden" name="run_mode" value="confirm" />
    <input type="hidden" name="aform_url" value="<mt:var name="aform_url" escape="html">" />

  <mt:loop name="fields">
    <mt:if name="type" eq="label">
	<div class="aform-hdln">
		<$mt:var name="label" escape="html"$>
	</div>
        <mt:if name="input_example"><div class="aform-input-example"><$mt:var name="input_example" escape="html"$></div> </mt:if>
    </mt:if>

    <mt:if name="type" eq="note">
	<div class="aform-note">
		<$mt:var name="label" escape="html"$>
	</div>
        <mt:if name="input_example"><div class="aform-input-example"><$mt:var name="input_example" escape="html"$></div> </mt:if>
    </mt:if>

    <mt:if name="type" eq="text">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if><mt:if name="max_length">(<mt:var name="max_length" escape="html">文字以内)</mt:if></dt>
		<mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><input class="aform-text<mt:if name="is_necessary"> required</mt:if><mt:if name="max_length" gt="0"> validate-length</mt:if>" name="aform-field-<$mt:var name="id"$>" type="text" value="" size="40" title="<$mt:var name="label" escape="html"$>を<mt:if name="max_length" gt="0"><mt:var name="max_length" escape="html">文字以内で</mt:if>入力してください" validate_max_length="<mt:var name="max_length" escape="html">"/></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="textarea">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if><mt:if name="max_length" gt="0">(<mt:var name="max_length" escape="html">文字以内)</mt:if></dt>
		<mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><textarea class="aform-textarea<mt:if name="is_necessary"> required</mt:if><mt:if name="max_length" gt="0"> validate-length</mt:if>" name="aform-field-<$mt:var name="id"$>" cols="40" rows="6" title="<$mt:var name="label" escape="html"$>を<mt:if name="max_length" gt="0"><mt:var name="max_length" escape="html">文字以内で</mt:if>入力してください" validate_max_length="<mt:var name="max_length" escape="html">"></textarea></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="radio">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
		<mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
                <mt:loop name="options">
		<dd><input id="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>" class="aform-radio<mt:if name="is_necessary"> validate-one-required</mt:if>" name="aform-field-<$mt:var name="id"$>" type="radio" value="<$mt:var name="value" escape="html"$>" title="選択してください" <mt:if name="checked">checked="checked"</mt:if>/><label for="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>"><$mt:var name="label" escape="html"$></label></dd>
                </mt:loop>
	</dl>
    </mt:if>
	
    <mt:if name="type" eq="checkbox">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
                <mt:loop name="options">
		<dd><input id="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>" class="aform-checkbox<mt:if name="is_necessary"> validate-one-required</mt:if>" name="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>" type="checkbox" value="<$mt:var name="index"$>" title="選択してください" <mt:if name="checked">checked="checked"</mt:if> /><label for="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>"><$mt:var name="label" escape="html"$></label></dd>
		<mt:setvar name="checked" value="">
                </mt:loop>
	</dl>
    </mt:if>

    <mt:if name="type" eq="select">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><select class="aform-select<mt:if name="is_necessary"> validate-selection</mt:if>" name="aform-field-<$mt:var name="id"$>" title="<$mt:var name="label" escape="html"$>を選択してください">
		  <mt:if name="use_default"><option value="">== <$mt:var name="default_label" escape="html"$> ==</option></mt:if>
                  <mt:loop name="options">
		  <option value="<$mt:var name="value"$>"><$mt:var name="label" escape="html"$></option>
                  </mt:loop>
		</select></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="prefecture">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><select class="aform-prefecture<mt:if name="is_necessary"> validate-selection</mt:if>" name="aform-field-<$mt:var name="id"$>" title="<$mt:var name="label" escape="html"$>を一つ選択してください">
		  <mt:if name="use_default"><option value="">== <$mt:var name="default_label" escape="html"$> ==</option></mt:if>
                  <mt:loop name="options">
		  <option value="<$mt:var name="value" escape="html"$>"><$mt:var name="label" escape="html"$></option>
                  </mt:loop>
		</select></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="email">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if><mt:if name="max_length" gt="0">(<mt:var name="max_length" escape="html">文字以内)</mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><input class="aform-email hankaku validate-email<mt:if name="is_necessary"> required</mt:if><mt:if name="max_length" gt="0"> validate-length</mt:if>" name="aform-field-<$mt:var name="id"$>" type="text" value="" size="40" title="<$mt:var name="label" escape="html"$>（英数記号のみ<mt:if name="max_length" gt="0"><mt:var name="max_length" escape="html">文字以内</mt:if>）を入力してください" validate_max_length="<mt:var name="max_length" escape="html">"/></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="tel">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if><mt:if name="max_length" gt="0">(<mt:var name="max_length" escape="html">文字以内)</mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><input class="aform-tel hankaku validate-tel<mt:if name="is_necessary"> required</mt:if><mt:if name="max_length" gt="0"> validate-length</mt:if>" name="aform-field-<$mt:var name="id"$>" type="text" value="" size="40" title="<$mt:var name="label" escape="html"$>（数字とハイフンのみ<mt:if name="max_length" gt="0"><mt:var name="max_length" escape="html">文字以内</mt:if>）を入力してください　例）03-1234-5678" validate_max_length="<mt:var name="max_length" escape="html">" /></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="zipcode">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><input class="aform-zipcode hankaku validate-zipcode<mt:if name="is_necessary"> required</mt:if>" name="aform-field-<$mt:var name="id"$>" type="text" value="" size="40" title="<$mt:var name="label" escape="html"$>（数字とハイフンのみ）を入力してください　例）123-4567" /></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="url">
	<dl>
		<dt><$mt:var name="label" escape="html"$><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if><mt:if name="max_length" gt="0">(<mt:var name="max_length" escape="html">文字以内)</mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
		<dd><input class="aform-url hankaku validate-url<mt:if name="is_necessary"> required</mt:if><mt:if name="max_length" gt="0"> validate-length</mt:if>" name="aform-field-<$mt:var name="id"$>" type="text" value="" size="40" title="<$mt:var name="label" escape="html"$>（英数記号のみ<mt:if name="max_length" gt="0"><mt:var name="max_length" escape="html">文字以内</mt:if>）を入力してください　例) http://www.example.com/" validate_max_length="<mt:var name="max_length" escape="html">" /></dd>
	</dl>
    </mt:if>

    <mt:if name="type" eq="privacy">
        <$mt:setvar name="privacy_label" value="$label"$>
	<dl>
		<dt><mt:if name="privacy_link" ne=""><a target="_blank" href="<$mt:var name="privacy_link" escape="html"$>"><$mt:var name="label" escape="html"$><img src="<$mt:var name="static_uri"$>plugins/AForm/images/icons/icon_new_windows.gif" alt="新しいウィンドウを開きます。"></a><mt:else><$mt:var name="label" escape="html"$></mt:if><mt:if name="is_necessary"> <span class="required">[必須]</span></mt:if></dt>
        <mt:if name="input_example"><dd class="aform-input-example"><$mt:var name="input_example" escape="html"$></dd> </mt:if>
		<dd id="aform-field-<$mt:var name="id"$>-error"></dd>
                <mt:loop name="options">
		<dd><input id="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>" class="aform-checkbox<mt:if name="is_necessary"> validate-privacy</mt:if>" name="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>" type="checkbox" value="<$mt:var name="index"$>" title="<$mt:var name="privacy_label" escape="html"$>にご同意ください。同意するにはチェックを入れます。" <mt:if name="checked">checked="checked"</mt:if>/><label for="aform-field-<$mt:var name="id"$>-<$mt:var name="index"$>"><$mt:var name="label" escape="html"$></label></dd>
                </mt:loop>
	</dl>
    </mt:if>

  </mt:loop>

	<div class="submit"><input type="submit" name="Submit" value="確認する" /></div>
</form>
<mt:if name="hide_demo_warning" ne="1"><p class="aform-demo">これは<a href="http://www.ark-web.jp/movabletype/" target="_blank">A-Form Bamboo for MovableType 評価版</a>です</p></mt:if>
<mt:if name="hide_powered_by" ne="1">
<p class="powerdby"><a href="http://www.ark-web.jp/movabletype/" target="_blank">Powered by A-Form for Movable Type</a></p>
</mt:if>

<mt:if name="preview" ne="1">
<script type="text/javascript">
 postAFormAccessLog('<mt:var name="aform_id">');
 postAFormChecker();

 new Validation('aform-form-<$mt:var name="aform_id"$>',{useTitles:true, immediate:<mt:if name="check_immediate">true<mt:else>false</mt:if>});
 addAFormValidate();
</script>
</mt:if>
</div>
</div>


<mt:if name="preview" eq="1">
<mt:setvarblock name="action_buttons">
    <button
        type="button"
        accesskey="x"
        onclick="parent.jQuery.fn.mtDialog.close()"
        title="<__trans phrase="Close">"
        class="action cancel"
        ><__trans phrase="Close"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
<mt:include name="include/aform_preview_footer.tmpl">
</mt:if>
