<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:setvar name="screen_id" value="create_aform_body">
<mt:setvar name="screen_type" value="create_aform_body">
<mt:setvarblock name="page_title"><mt:var name="display_title" escape="html"></mt:setvarblock>
<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:setvarblock name="content_header">
    <div id="msg-block">

    <mt:unless name="recovered_object">
        <mt:if name="autosaved_object_exists">
            <mtapp:statusmsg
                id="recovered-object"
                class="info">
                <__trans phrase="A saved version of this [_1] was auto-saved [_3]. <a href="[_2]">Recover auto-saved content</a>" params="<mt:var name="object_label">%%<mt:var name="script_url">?__mode=view&amp;_type=<mt:var name="object_type">&amp;_recover=1<mt:if name="id">&amp;id=<mt:var name="id"></mt:if><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>%%<mt:date ts="$autosaved_object_ts" relative="1">">
            </mtapp:statusmsg>
        </mt:if>
    </mt:unless>

    <mt:if name="saved_added">
        <mtapp:statusmsg
            id="saved-added"
            class="success">
            <__trans phrase="Your [_1] has been saved." params="<$mt:var name="object_label" lower_case="1"$>">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_changes">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <__trans phrase="Your changes have been saved."><__trans phrase="Please rebuild blog which has some AForm.">
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="saved_prefs">
        <mtapp:statusmsg    
            id="saved-prefs"
            class="success">
            <__trans phrase="Your customization preferences have been saved, and are visible in the form below.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_notify">
        <mtapp:statusmsg    
            id="saved-notify"
            class="success">
            <__trans phrase="Your notification has been sent.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_object">
        <mtapp:statusmsg    
            id="recovered-object"
            class="success">
            <__trans phrase="You have successfully recovered your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_failed">
        <mtapp:statusmsg    
            id="recovered-failed"
            class="error">
            <__trans phrase="An error occurred while trying to recover your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_deleted">
        <mtapp:statusmsg    
            id="saved-deleted"
            class="success">
            <__trans phrase="You have successfully deleted the checked comment(s).">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</mt:setvarblock>

<mt:setvarblock name="related_content">
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/jquery.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/edit_aform/config_form.js"></script>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="plugin_static_uri">edit_aform.css" />
</mt:setvarblock>

<mt:setvarblock name="html_body" append="1">
</mt:setvarblock>


<mt:include name="dialog/header.tmpl">

<form name="aform-config-form" id="aform-config-form" method="post" action="<$mt:var name="script_url"$>" onsubmit="return false;">
    <input type="hidden" name="__mode" value="save_aform" />
    <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
    <input type="hidden" name="return_args" value="<$mt:var name="return_args" escape="html"$>" />
    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />

<fieldset>
  <h3><__trans phrase="Title Setting"></h3>
  <div>
  <mtapp:setting
    id="title"
    label="<__trans phrase="Title">"
    hint="<__trans phrase="Title your Form">" >
    <input type="text" name="title" id="title" value="<mt:var name="title" escape="html">" size="50" />
  </mtapp:setting>
  </div>
</fieldset>


<mt:setvarblock name="action_buttons">
    <button
        type="button"
        accesskey="s"
        title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label" lower_case="1">">"
        class="action primary-button"
        onclick="create_aform()"
        ><__trans phrase="Save"></button>
    <button
        type="button"
        accesskey="x"
        onclick="parent.jQuery.fn.mtDialog.close()"
        title="<__trans phrase="Close">"
        class="action cancel"
        ><__trans phrase="Close"></button>
</mt:setvarblock>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">


</form>

<script type="text/javascript">
function create_aform()
{
  if( aform$('#title').val() == '' ){
    alert('<__trans phrase="Please input Form Title.">');
    return false;
  }

  aform$.post(
    '<mt:var name="script_url">', 
    {
      '__mode': 'save_aform',
      'title': aform$('#title').val()
    },
    function(text, status) {
      if( status == 'success' && text.match(/success:(\d+)/) ){
        parent.location.href = '<mt:var name="script_url">' + '?__mode=edit_aform_field&id=' + RegExp.$1;
      }else{
        alert('error: create aform');
      }
    });
}
</script>
<mt:include name="dialog/footer.tmpl">
