<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:setvarblock name="page_title"><mt:var name="display_title" escape="html"></mt:setvarblock>
<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:setvarblock name="system_msg">
    <div id="msg-block">

    <mt:unless name="recovered_object">
        <mt:if name="autosaved_object_exists">
            <mtapp:statusmsg
                id="recovered-object"
                class="info">
                <__trans phrase="A saved version of this [_1] was auto-saved [_3]. <a href="[_2]">Recover auto-saved content</a>" params="<mt:var name="object_label">%%<mt:var name="script_url">?__mode=view&amp;_type=<mt:var name="object_type">&amp;_recover=1<mt:if name="id">&amp;id=<mt:var name="id"></mt:if><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>%%<mt:date ts="$autosaved_object_ts" relative="1">">
            </mtapp:statusmsg>
        </mt:if>
    </mt:unless>

    <mt:if name="saved_added">
        <mtapp:statusmsg
            id="saved-added"
            class="success">
            <__trans phrase="Your [_1] has been saved." params="<$mt:var name="object_label" lower_case="1"$>">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_changes">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="saved_changes_mail_to_changed">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <__trans phrase="Your changes have been saved. Please confirm Mail To is Valid Email Address.">
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="saved_changes_mail_to_is_null">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <__trans phrase="Your changes have been saved. Mail To is null. We strongly recommend to set Mail To.">
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="saved_prefs">
        <mtapp:statusmsg    
            id="saved-prefs"
            class="success">
            <__trans phrase="Your customization preferences have been saved, and are visible in the form below.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_notify">
        <mtapp:statusmsg    
            id="saved-notify"
            class="success">
            <__trans phrase="Your notification has been sent.">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_object">
        <mtapp:statusmsg    
            id="recovered-object"
            class="success">
            <__trans phrase="You have successfully recovered your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="recovered_failed">
        <mtapp:statusmsg    
            id="recovered-failed"
            class="error">
            <__trans phrase="An error occurred while trying to recover your saved [_1]." params="<mt:var name="object_label">">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved_deleted">
        <mtapp:statusmsg    
            id="saved-deleted"
            class="success">
            <__trans phrase="You have successfully deleted the checked comment(s).">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</mt:setvarblock>

<mt:setvarblock name="related_content">
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/jquery.js"></script>
<script type="text/javascript" src="<mt:var name="plugin_static_uri">js/edit_aform/config_form.js"></script>
<script type="text/javascript">
config_form.alertSaveMsg = '<mt:var name="alert_save_msg">';
config_form.alertDisableTabMsg = '<mt:var name="alert_disable_tab_msg">';
config_form.alertFormTitle = '<__trans phrase="Please input Form Title.">';
</script>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="plugin_static_uri">edit_aform.css" />
</mt:setvarblock>

<mt:setvarblock name="html_body" append="1">
</mt:setvarblock>


<mt:include name="include/header.tmpl" id="header_include">

    <mt:if name="id">
    <div id="entry-nav" class="pkg">
        <ul class="inline-nav right">
            <li id="previous-link"><mt:if name="previous_aform_id"><a href="<$mt:var name="script_url"$>?__mode=edit_aform&amp;id=<$mt:var name="previous_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Previous"></a><mt:else><span><__trans phrase="Previous"></span></mt:if></li>
            <li id="manage-link"><a href="<$mt:var name="script_url"$>?__mode=list_aform&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Manage A-Form"></a></li>
            <li id="next-link"><mt:if name="next_aform_id"><a href="<$mt:var name="script_url"$>?__mode=edit_aform&amp;id=<$mt:var name="next_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="Next"></a><mt:else><span><__trans phrase="Next"></span></mt:if></li>
        </ul>
    </div>
    </mt:if>

<form name="aform-config-form" id="aform-config-form" method="post" action="<$mt:var name="script_url"$>">
    <input type="hidden" id="id" name="id" value="<$mt:var name="id"$>" />
    <input type="hidden" name="__mode" value="save_aform" />
    <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
    <input type="hidden" name="return_args" value="<$mt:var name="return_args" escape="html"$>" />
    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />
        <div id="aform-field-editor-header">
            <ul class="ui-tabs-nav" mt:delegate="tab-container">
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=edit_aform_field&amp;id=<$mt:var name="id"$>"><span><__trans phrase="Edit Field"></span></a>
                </li>
                <li class="tab selected-tab ui-tabs-selected ui-state-active">
                    <a href="<$mt:var name="script_url"$>?__mode=edit_aform&amp;id=<$mt:var name="id"$>"><span><__trans phrase="Config Form"></span></a>
                </li>
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=manage_aform_data&amp;id=<$mt:var name="id"$>"><span><__trans phrase="Manage Data"></span></a>
                </li>
                <li class="tab">
                    <a href="<$mt:var name="script_url"$>?__mode=list_aform_input_error&amp;id=<$mt:var name="id"$>"><span><__trans phrase="List A-Form Input Error"></span></a>
                </li>

            </ul>
        </div>

<fieldset>
  <h3><__trans phrase="Title Setting"></h3>
  <div><__trans phrase="Title Setting Description"></div>
  <div>
  <mtapp:setting
    id="title"
    label="<__trans phrase="Title">"
    hint="<__trans phrase="Title your Form">" >
    <input type="text" name="title" id="title" value="<mt:var name="title" escape="html">" size="50" />
  </mtapp:setting>
  </div>
</fieldset>

<fieldset>
  <h3><__trans phrase="Thanks page Setting"></h3>
  <div class="hint">
  <__trans phrase="Enter URL or Select Web Page.">
  </div>

  <mtapp:setting id="thanks_url_setting">
  <div>
    <input type="radio" name="thanks_url_setting" value="default" <mt:if name="thanks_url" eq="">checked="checked"</mt:if>>
    <__trans phrase="label_thanks_url_default">
  </div>

  <div>
    <input type="radio" name="thanks_url_setting" value="webpage" <mt:if name="is_webpage" eq="1">checked="checked"</mt:if>>
    <__trans phrase="label_thanks_url_select">
    <select id="thanks_url_select" name="thanks_url_select">
    <option value=""><__trans phrase="please select"></option>
    <mt:loop name="webpages">
      <option value="<mt:var name="link">" <mt:if name="selected" eq="1">selected="selected"</mt:if>><mt:var name="title"></options>
    </mt:loop>
    </select>
  </div>

  <div>
    <input type="radio" name="thanks_url_setting" value="url" <mt:if name="is_webpage" ne="1"><mt:if name="thanks_url" ne="">checked="checked"</mt:if></mt:if>>
    <__trans phrase="label_thanks_url">
    <input type="text" name="thanks_url" id="thanks_url" value="<mt:if name="is_webpage" ne="1"><mt:var name="thanks_url" escape="html"></mt:if>" size="50" />
  </div>
  </mtapp:setting>

</fieldset>

<fieldset>
  <h3><__trans phrase="Schedule Setting"></h3>
  <div class="hint">
    <__trans phrase="description schedule setting">
  </div>
  <div>
  <mtapp:setting
    id="status"
    label="<__trans phrase="Form Status">"
    hint="<__trans phrase="Form Status">" >
    <input type="radio" name="status" value="2"<mt:if name="status" eq="2"> checked="checked"</mt:if>><__trans phrase="Enable">
    <input type="radio" name="status" value="0"<mt:if name="status" eq="0"> checked="checked"</mt:if>><__trans phrase="Disable">
  </mtapp:setting>

<!--
  <mtapp:setting
    id="schedule"
    label="<__trans phrase="Form Schedule">"
    hint="<__trans phrase="Form Schedule">" >
    <__trans phrase="Schedule Start Date">
    <input type="text" id="start_at_date" name="start_at_date" value="<mt:var name="start_at" escape="html">" size="10">
    <input type="text" id="start_at_time" name="start_at_time" size="8"><br>
    <__trans phrase="Schedule End Date">
    <input type="text" id="end_at_date" name="end_at_date" value="<mt:var name="end_at" escape="html">" size="10">
    <input type="text" id="end_at_time" name="end_at_time" size="8">
  </mtapp:setting>
-->
  </div>
</fieldset>

<fieldset>
  <h3><__trans phrase="Data No. Setting"></h3>
  <div><__trans phrase="Data No. Setting Description"></div>
  <div>
  <mtapp:setting
    id="data_id_offset"
    label="<__trans phrase="Data No. offset">"
    hint="<__trans phrase="Data No. offset">" >
    <input type="text" name="data_id_offset" id="data_id_offset" value="<mt:var name="data_id_offset" escape="html">" size="50" /><br />
    <input type="checkbox" name="reset_data_id" id="reset_data_id" value="1">
    <__trans phrase="Reset Data No.">
  </mtapp:setting>
  </div>
</fieldset>

<fieldset>
  <h3><__trans phrase="Mail Setting"></h3>
  <div><__trans phrase="Mail Setting Description"><a href="javascript:void(0)" onclick="window.open('<mt:var name="plugin_static_uri">images/aform_mail_sample.png','sample','width=750,height=820,scrollbars=yes,resizable=yes')"><__trans phrase="View Sample"></a></div>
  <div>
  <mtapp:setting
    id="mail_subject"
    label="<__trans phrase="Mail Subject">"
    hint="<__trans phrase="mail subject">" >
    <input type="text" id="mail_subject" name="mail_subject" value="<mt:var name="mail_subject" escape="html">" size="50">
  </mtapp:setting>

  <mtapp:setting
    id="mail_from"
    label="<__trans phrase="Mail From">"
    hint="<__trans phrase="mail from">" >
    <input type="text" id="mail_from" name="mail_from" value="<mt:var name="mail_from" escape="html">" size="50">
  </mtapp:setting>
  <mtapp:setting
    id="mail_to"
    label="<__trans phrase="Mail To">"
    hint="<__trans phrase="mail to">" >
    <input type="text" id="mail_to" name="mail_to" value="<mt:var name="mail_to" escape="html">" size="50"><br />
  </mtapp:setting>
  <mtapp:setting
    id="mail_cc"
    label="<__trans phrase="Mail CC">"
    hint="<__trans phrase="mail cc">" >
    <input type="text" id="mail_cc" name="mail_cc" value="<mt:var name="mail_cc" escape="html">" size="50">
  </mtapp:setting>
  <mtapp:setting
    id="mail_bcc"
    label="<__trans phrase="Mail BCC">"
    hint="<__trans phrase="mail bcc">" >
    <input type="text" id="mail_bcc" name="mail_bcc" value="<mt:var name="mail_bcc" escape="html">" size="50"><br />
    <__trans phrase="mail to description">
  </mtapp:setting>
<!--
  <mtapp:setting
    id="is_replyed_to_customer"
    label="<__trans phrase="Replyed to Customer">"
    hint="<__trans phrase="replyed to customer">" >
    <input type="checkbox" id="is_replyed_to_customer" name="is_replyed_to_customer" value="1"<mt:if name="is_replyed_to_customer"> checked="checked"</mt:if>><__trans phrase="Replyed to Customer">
  </mtapp:setting>
-->

  <mtapp:setting
    id="mail_header"
    label="<__trans phrase="Mail Header"><br /><br /><__trans phrase="Mail Header Description">"
    hint="<__trans phrase="mail header">" >
    <textarea class="full-width long" cols="" rows="5" id="mail_header" name="mail_header"><mt:var name="mail_header" escape="html"></textarea>
  </mtapp:setting>

  <mtapp:setting
    id="mail_footer"
    label="<__trans phrase="Mail Footer"><br /><br /><__trans phrase="Mail Footer Description">"
    hint="<__trans phrase="mail footer">" >
    <textarea class="full-width long" cols="" rows="5" id="mail_footer" name="mail_footer"><mt:var name="mail_footer" escape="html"></textarea>
  </mtapp:setting>
  </div>
</fieldset>

<fieldset>
  <h3><__trans phrase="Input check Setting"></h3>
  <div><__trans phrase="Input check Setting Description"></div>
  <div>
  <mtapp:setting
    id="input_check"
    label="<__trans phrase="Input check">"
    hint="<__trans phrase="input check">" >
    <input type="radio" name="check_immediate" value="1"<mt:if name="check_immediate"> checked="checked"</mt:if>><__trans phrase="Check Immediately."><br />
    <input type="radio" name="check_immediate" value="0"<mt:if name="check_immediate" ne="1"> checked="checked"</mt:if>><__trans phrase="Check only when Confirm button is pushed.">
  </mtapp:setting>
  </div>
</fieldset>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label" lower_case="1">">"
        class="action primary-button"
        ><__trans phrase="Save"></button>
</mt:setvarblock>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">


</form>

<mt:include name="include/footer.tmpl" id="footer_include">
