<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

非公開なフォームへ送信されたデータ

ID <mt:var name="aform_id">

<mt:loop name="fields">
■ <$mt:var name="label"$>  
<$mt:var name="label_value"$>
</mt:loop>

動作確認を推奨します。

==================================
<$mt:var name="datetime"$>
==================================

