<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

保存処理が失敗した可能性のある受付データ

ID <mt:var name="aform_id">
<mt:var name="aform_url">

<mt:loop name="fields">
■ <$mt:var name="label"$>  
<$mt:var name="label_value"$>
</mt:loop>

動作確認を推奨します。

==================================
<$mt:var name="datetime"$>
==================================

