<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
    <div id="bootstrapper" class="hidden"></div>
    <script type="text/javascript">
        // <![CDATA[
            App.bootstrapInline( false );
        // ]]>
    </script>
    </div><!-- /content -->
</div>
</body>
</html>
