@charset "shift_jis";

/** -------------------------------- **
	�ڍ׃y�[�W
*** ----------------------------------------------------------------- ***/

.accentuation {	color:#ff6600;}

#contents .right_contents .sec_main h4 {padding-top:20px;}

#contents .system_column {padding-top:20px;}

#contents .right_contents .sec_main .stepflow_img01 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph01.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img02 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph02.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img03 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph03.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img04 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph04.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img05 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph05.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img06 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph06.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}

#contents .right_contents .sec_main .stepflow_img07 {
	width:300px;
	height:155px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph07.gif) no-repeat;
	-webkit-background-size: 300px 155px;
}

#contents .right_contents .sec_main .stepflow_img08 {
	width:300px;
	height:110px;
	text-align:left;
	text-indent:-9999px;
	background:url(/course/images/sp_system_graph08.gif) no-repeat;
	-webkit-background-size: 300px 110px;
}


.workshop_ttl {
    background: url(/course/images/sp_h2_tit09.jpg) no-repeat;
    background-size: 315px 64px;
}
