<mtapp:setting
  id="site_redirect"
  label="<__trans phrase="Site Redirect">:"
>
	<input name="site_redirect" id="site_redirect" value="1" <mt:if name="site_redirect">checked="checked"</mt:if> type="checkbox" />&nbsp;<__trans phrase="if there is no reference to autheority sites,sites redirect to an authoritative reference.">
</mtapp:setting>
