<mt:include name="include/header.tmpl">

<script type="text/javascript">
<!--
function enableFilterButton(fld) {
    if (fld && (fld.id == "author_id-val")) {
        var opt = fld.options[fld.selectedIndex];
        if (opt.id == 'filter-user-search') {
            window.location = ScriptURI + '?__mode=search_replace&_type=author';
        } else {
            if (opt.value == "") {
                getByID("filter-button").style.display = "none";
                return;
            }
        }
    } else if (fld && (fld.id == "filter-col")) {
        var opt = fld.options[fld.selectedIndex];
        if (opt.value == 'author_id') {
            var authfld = getByID("author_id-val");
            var authopt = authfld.options[authfld.selectedIndex];
            if (authopt.value == "") {
                getByID("filter-button").style.display = "none";
                return;
            }
        }
    }
    getByID("filter-button").style.display = "inline";
}

function toggleFilter() {
    var filterActive = getByID("filter-title");
    if (filterActive.style.display == "none") {
        filterActive.style.display = "block";
        getByID("filter-select").style.display = "none";
    } else {
        filterActive.style.display = "none";
        getByID("filter-select").style.display = "block";setFilterCol('status');
    }
}

function setFilterCol(choice) {
    var sel = getByID('filter-select');
    if (!sel) return;
    sel.className = "filter-" + choice;
    if (choice != 'none') {
        var fld = getByID('filter-col');
        if (choice == 'status')
            fld.selectedIndex = 0;
        else if (choice == 'author_id')
            fld.selectedIndex = 1;
        else if (choice == 'exacttag')
            fld.selectedIndex = 2;
        else if (choice == 'normalizedtag')
            fld.selectedIndex = 3;
        else if (choice == 'category_id')
            fld.selectedIndex = 4;
        col_span = getByID("filter-text-col");
        if (fld.selectedIndex > -1 && col_span)
            col_span.innerHTML = '<strong>' + fld.options[fld.selectedIndex].text + '</strong>';
    }
}

var tableSelect;
function init()
{
    // setup
    tableSelect = new TC.TableSelect( "entry-listing-table" );
    tableSelect.rowSelect = true;
    setFilterCol('none');
}

TC.attachLoadEvent( init );


function countMarked (f, nameRestrict) {
    var count = 0;
    var e = f.id;
    if (!e) return 0;
    if (e.type && e.type == 'hidden') return 1;
    if (e.value && e.checked)
        count++;
    else
    if (nameRestrict) {
        for (i=0; i<e.length; i++)
            if (e[i].checked && (e[i].name == nameRestrict))
                count++;
    } else {
        for (i=0; i<e.length; i++)
            if (e[i].checked)
                count++;
    }
   return count;
}

function mpack_delete_settings (f) {
    var count = countMarked(f)
    if (!count) {
        alert('<MT_TRANS phrase="delete email. not select">');
        return false;
    }
    if (confirm('<MT_TRANS phrase="delete email address ?">')) {
        f.submit();
    }
}

// -->
</script>
    <div class="listing-filter">
        <div class="listing-filter-inner inner pkg">
            <div class="filter">
                <div id="filter-title">
                    <strong><MT_TRANS phrase="Entry Email Settings List"></strong>
                </div>
            </div>
        </div>
    </div><!-- /listing-filter -->

<div id="entry-listing" class="listing ">
<TMPL_IF NAME=mpack_error>
<div id="generic-error" class="msg msg-error">
<a href="javascript:void(0)" onclick="javascript:hide('generic-error');return false;" class="close-me"><span>close</span></a>
<TMPL_VAR NAME=mpack_error>
</div>
</TMPL_IF>


    <form id="entry-listing-form" class="listing-form" action="" method="post" onsubmit="return this['__mode'] ? true : false">
    <input type="hidden" name="__mode" value="delete_mailpack" />
    <input type="hidden" name="offset" value="<TMPL_VAR NAME=OFFSET ESCAPE=HTML>" />

    <div id="actions-bar-top" class="actions-bar actions-bar-top">
        <div class="actions-bar-inner pkg">
<TMPL_IF NAME="SETTING_LIST">

            <div id="pagination-top" class="pagination">

        <mt:if name="offset">
    <a href="<$mt:var name="script_url"$>?offset=0&amp;<$mt:var name="return_args" escape="html"$>" class="start"><em>&lt;&lt;</em>&nbsp;</a>
        <mt:else>
    <span class="start-disabled"><em>&lt;&lt;</em>&nbsp;</span>
        </mt:if>
        <mt:if name="prev_offset">
    <a href="<$mt:var name="script_url"$>?offset=<$mt:var name="prev_offset_val"$>&amp;<$mt:var name="return_args" escape="html"$>" class="to-start"><em>&lt;</em>&nbsp;</a>
        <mt:else>
    <span class="to-start-disabled"><em>&lt;</em>&nbsp;</span>
        </mt:if>
    <span class="current-rows"><__trans phrase="[_1] &ndash; [_2] of [_3]" params="<$mt:var name="list_start"$>%%<$mt:var name="list_end"$>%%<$mt:var name="list_total"$>"></span>
        <mt:if name="next_offset">
    <a href="<$mt:var name="script_url"$>?offset=<$mt:var name="next_offset_val"$>&amp;<$mt:var name="return_args" escape="html"$>" class="to-end">&nbsp;<em>&gt;</em></a>
        <mt:else>
    <span class="to-end-disabled">&nbsp;<em>&gt;</em></span>
        </mt:if>
        <mt:if name="next_max">
    <a href="<$mt:var name="script_url"$>?offset=<$mt:var name="next_max"$>&amp;<$mt:var name="return_args" escape="html"$>" class="end">&nbsp;<em>&gt;&gt;</em></a>
        <mt:else>
    <span class="end-disabled">&nbsp;<em>&gt;&gt;</em></span>
        </mt:if>

            </div>

<mtif name="mt_version" ge="5">
            <button
                onclick="mpack_delete_settings(getByID('entry-listing-form')); return false;"
                accesskey="x"
                title="<MT_TRANS phrase="delete email setting">(x)"
                ><MT_TRANS phrase="Delete"></button>
<mtelse>
            <span class="top-actions actions">
                <a href="javascript:void(0)"
                    onclick="mpack_delete_settings(getByID('entry-listing-form')); return false;"
                    accesskey="x"
                    title="<MT_TRANS phrase="delete email setting">(x)"
                    ><MT_TRANS phrase="Delete"></a>
            </span>
</mtif>
</TMPL_IF>
        </div>
    </div>

    <table id="entry-listing-table" class="entry-listing-table compact" cellspacing="0">
    <TMPL_LOOP SETTING_LIST>
        <TMPL_IF NAME="__first__">
        <thead>
            <tr>
                <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
                <th id="at-email"><MT_TRANS phrase="Entry Email"></th>
                <th id="at-blog"><MT_TRANS phrase="Entry Blog"></th>
                <th id="at-category"><MT_TRANS phrase="Entry Category"></th>
                <th id="at-create"><MT_TRANS phrase="Entry Create_on"></th>
                <th id="at-author"><MT_TRANS phrase="Entry AuthorName"></th>
                <th id="at-settings"></th>
            </tr>
        </thead>
        <tbody>
        </TMPL_IF>
            <tr class="<TMPL_IF NAME="__odd__">odd<TMPL_ELSE>even</TMPL_IF>">
                <td class="cb"><input type="checkbox" name="id" value="<TMPL_VAR NAME=SETTING_ID>" class="select" /></td>
                <td class="title"><TMPL_VAR NAME=EMAIL></td>
                <td><TMPL_VAR NAME=B_NAME></td>
                <td class="category">
                    <TMPL_IF NAME=C_ARRAY>
                        <ul>
                        <TMPL_LOOP NAME=C_ARRAY>
                            <TMPL_IF NAME=C_FLUG>
                            <li><TMPL_VAR NAME=C_LABEL ESCAPE=HTML></li>
                            </TMPL_IF>
                        </TMPL_LOOP>
                        </ul>
                    </TMPL_IF>
                </td>
                <td class="date">
                    <$mt:var name="created_on_relative"$>
                </td>
                <td class="author"><TMPL_VAR NAME=A_NAME></td>
                <td class="author"><center><a href="?__mode=edit_mailpack&id=<TMPL_VAR NAME=SETTING_ID ESCAPE=HTML>&offset=<TMPL_VAR NAME=OFFSET ESCAPE=HTML>"><MT_TRANS phrase="Setting"></a></center></td>
            </tr>
        <TMPL_IF NAME="__last__">
        </tbody>
        </TMPL_IF>
    </TMPL_LOOP>
    </table>

    </form>
</div>

<mt:include name="include/footer.tmpl">