<mt:if name="scope" eq="website">
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild website"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild website"></mt:setvarblock>
<mt:elseif name="scope" eq="blog">
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild blogs"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild blogs"></mt:setvarblock>
<mt:else>
  <mt:setvarblock name="html_title"><__trans phrase="Rebuild sites"></mt:setvarblock>
  <mt:setvarblock name="page_title"><__trans phrase="Rebuild sites"></mt:setvarblock>
</mt:if>
<mt:include name="include/header.tmpl" id="header_include">

<script type="text/javascript">
function select_all_blog () {
    var sel = document.getElementById("rebuild_allsite_id");
    if (sel && sel.options){
        for (i = 0; i < sel.options.length; i++){
            sel.options[i].selected = true;
        }
    }
}
</script>

<form method="post" action="<$MTAdminScript$>">
    <input type="hidden" name="__mode" value="rebuild_blogs_execute" />
    <input type="hidden" name="blog_id" value="<$mt:var blog_id$>" />
    <input type="hidden" name="return_blog_id" value="<$mt:var return_blog_id$>" />
    <input type="hidden" name="scope" value="<$mt:var scope$>" />
    <input type="hidden" name="start" value="1" />
    <input type="hidden" name="error" value="" />

<mtapp:setting id="queue" label="<__trans phrase="Site">">
    <select name="queue" id="rebuild_allsite_id" size="20" multiple="multiple" style="width: 300px;">
    <mt:loop name="can_rebuild_blogs">
        <mt:if name="can_rebuild">
            <option value="<$mt:var name="id" encode_html="1">">
                <mt:if name="indent">&nbsp;-&nbsp;</mt:if><$mt:var name="name" encode_html="1"$>
            </option>
        </mt:if>
    </mt:loop>
    </select>
    <p class="hint"><__trans phrase="Hold down Ctrl to select multiple blog websites."></p>
</mtapp:setting>

    <button
        class="action"
        onclick="select_all_blog(); return false"><__trans phrase="Select all">
    </button>
    <button
        type="submit"
        class="primary-button action"
        ><__trans phrase="Start rebuilding">
    </button>

</form>

<mt:include name="include/footer.tmpl" id="footer_include">
