<mt:setvarblock name="html_title"><__trans phrase="DynamicViewer Settings"></mt:setvarblock>
<mt:setvarblock name="page_title"><__trans phrase="DynamicViewer Settings"></mt:setvarblock>
<mt:include name="include/header.tmpl" id="header_include">

<mt:unless name="accumulation">
	<p><__trans phrase="Start DynamicViewer Settings."></p>

<mt:else>
	<p><mt:var name="site_name" >&nbsp;-&nbsp;<mt:if name="remove_flag"><__trans phrase="DynamicViewer has been removed."><mt:else><__trans phrase="DynamicViewer has been installed."></mt:if></p>

	<div class="progress-bar progress-bar-indeterminate">
		 <span><__trans phrase="Its progress">:<mt:var name="progress">%</span>&nbsp;
	</div>

</mt:unless>
<script type="text/javascript">
/* <![CDATA[ */
function doRedirect () {
    window.location='<mt:var name="script_uri">?<mt:var name="next">';
}
setTimeout('doRedirect()', 100 );
/* ]]> */
</script>

<mt:include name="include/footer.tmpl" id="footer_include">
