@charset "shift_jis";

/** -------------------------------- **
	カテゴリーメニュー
*** ----------------------------------------------------------------- ***/

#contents .left_contents h4 {
width:200px;
height:36px;
margin:0;
padding:0;
text-align:left;
text-indent:-9999px;
background:url(../images/menu-tit.gif) no-repeat;
}


/*** 左エリア　バナー ***/

#contents .left_contents ul.left-bnr {
width:191px;
margin:0 auto;
padding:0 0 0;
text-align:right;
list-style:none;
font-size:1%;
line-height:1%;
}


/** -------------------------------- **
	カテゴリーメニュー
*** ----------------------------------------------------------------- ***/

dl.limit {
	width:694px;
	padding:10px 0 0;
	margin:0;
	text-align:left;
}

dl.limit dt {
	float:left;
	width:60px;
	padding:0;
	margin:0;
	text-align:left;
}

dl.limit dd {
	float:right;
	width:620px;
	padding:0;
	margin:0;
	text-align:left;
}