<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/main.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
  <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.mt.js?v=<mt:var name="mt_version_id" escape="URL">"></script>

  <style type="text/css">
table {
	margin:0;
}
span.label {
 	font-size:120%; font-weight:bold;
}
#upload {
	background: url('<mt:var static_uri>images/status_icons/create.gif') no-repeat left center;
	padding-left: 12px;
}

#asset-listing{
width:100%;
margin : 7px ;
}

body{
width : 260px;
background:#fff !important;
}

body p{
color:#666;
padding:7px;
}

td.icon{
vertical-align:middle;
width:65px;
cursor: pointer;
padding-bottom:3px;
}

td.meta{
vertical-align:top;
padding-bottom:7px;
}

div.filesize , div.date{
font-size:10px;
color:#666;
line-height:140%;
margin-left:3px;
}

div.label{
font-size:12px;
color:#333;
margin-bottom:2px;
font-weight:bold;
background:#fff;
margin-left:3px;
}
div.label img{
margin-left:2px;
}

.multi_file_uploader{
padding-left:7px;
padding-top:9px;
padding-bottom:5px;
}

.page-nav{
position:relative;
width:100%;
margin-bottom:5px;
}

.object-nav{
overflow:hidden;
position:static !important;
margin-left:7px;
}

.page_number{
position:absolute;
left:120px;
top:5px;
color:#777;
}

#next-link{
position:static;
width:40px;
float:right;
}

#previous-link{
position:static;
width:40px;
float:left;
}


div#search-by-filename{
display:none;
}

#search {
	width: 100%;
}

  </style>

  <script type="text/javascript">
var _t;
function onFocusSearch (f) {
  if (!_t) _t = f.value;
  if (f.value == _t) f.value = '';
}

function onBlurSearch (f) {
  if (f.value == '') {
    f.value = _t;
    jQuery('#assets tr').each (function () { jQuery(this).show(); });    
  }
}

function onChangeSearch (f) {
  var pattern = f.value.replace(/\W/g, function ($0) { return '\\' + $0; }).replace(/\\\*/g, '.*');
  var regexp = new RegExp ('^' + pattern, 'i');
  jQuery('#asset-listing-table tr').each (function () {
    var me = jQuery(this);
    regexp.test(me.attr('label')) ? me.show() : me.hide();
  });
}

jQuery(document).ready (function () {
    window.parent.showNaviLoading (false);
});
  </script>
</head>

<body>

<mt:if can_upload>
<div class="multi_file_uploader">
<a id="upload" href="<mt:var script_uri>?__mode=start_upload&amp;no_insert=0&amp;entry_insert=1&amp;dialog=1&amp;dialog_view=1&amp;blog_id=<mt:if bid><mt:var bid><mt:else><mt:var blog_id></mt:if>&amp;entry_id=<mt:var id>&amp;extra_path=<mt:var folder>" onclick="parent.jQuery.fn.mtDialog.open(this.href);return false;"><__trans phrase="Upload new item on this folder"></a>
</div>
</mt:if>

<mt:if error>
	<mtapp:statusmsg
		id="generic-error"
		class="error">
		<mt:var name="error">
	</mtapp:statusmsg>
</mt:if>

<mt:if object_loop>
  <div id="search-by-filename">
    <input type="text" id="search" value="<__trans phrase="Focus by filename">" onfocus="onFocusSearch(this);" onblur="onBlurSearch(this);" onkeyup="onChangeSearch(this);" />
  </div>
  <div id="asset-listing">
  <table id="asset-listing-table">
	<mt:loop name="object_loop"><tr label="<mt:var name="label" escape="html">">
	  <mt:if has_thumbnail>
		<td class="icon">
		  <img mt:url="img <mt:var blog_id> <mt:var id> <mt:var name="url" escape="html"> <mt:var name="label" escape="html">" src="<mt:var thumbnail_url>" title="<mt:var name="description" escape="html">" />
		</td><td class="meta">
		  <div class="label" title="<mt:var name="url" escape="html">"><mt:var name="label" escape="html">
              <a href="<mt:var script_uri>?__mode=view&amp;_type=asset&amp;id=<mt:var id>&amp;blog_id=<mt:var blog_id>" target="_blank"><img src="<mt:var static_uri>images/status_icons/draft.gif" title="<__trans phrase="Edit">" /></a></div>
		  <div class="filesize"><mt:var file_size_formatted> / <mt:var image_width> &times; <mt:var image_height> px</div>
		  <div class="date"><mt:var name="created_on"></div>
		</td>
	  <mt:else>
		<td class="icon">
		  <img mt:url="obj <mt:var blog_id> <mt:var id> <mt:var name="url" escape="html"> <mt:var name="label" escape="html">" src="<mt:var static_uri>images/filetype_icons/<mt:var filetype>_lg.gif" width="<mt:var thumbnail_size>" height="<mt:var thumbnail_size>" title="<mt:var name="description" escape="html">" />
		</td><td class="meta">
		  <div class="label" title="<mt:var name="url" escape="html">"><mt:var label><a href="<mt:var script_uri>?__mode=view&amp;_type=asset&amp;id=<mt:var id>&amp;blog_id=<mt:var blog_id>" target="_blank"><img src="<mt:var static_uri>images/status_icons/draft.gif" title="<__trans phrase="Edit">" /></a></div>
		  <div class="filesize"><mt:var file_size_formatted></div>
		  <div class="date"><mt:var name="created_on"></div>
		</td>
      </mt:if>
    </tr></mt:loop>
  </table>

<mt:unless is_folder><mt:if id>
<mt:ignore>*** このページのアイテム ***</mt:ignore>
<script type="text/javascript"><mt:loop name="object_loop">
    parent.updateAssetList (<mt:var blog_id>, <mt:var id>, '<mt:var name="url" escape="javascript">', '<mt:var name="label" escape="javascript">', '<mt:if has_thumbnail>image<mt:else>file</mt:if>');
</mt:loop></script>
</mt:if></mt:unless>

  </div><!-- asset-listing-table -->
    <!-- Paging -->
    <div class="page-nav">
    <ul class="object-nav">    
    <mt:if name="page_prev_link" ne="">
      <li id="previous-link" class="first-child"><a href="<mt:var script_uri>?__mode=asset_navi&amp;blog_id=<mt:var blog_id>&amp;id=<mt:var id>&amp;_type=<mt:var object_type>&amp;bid=<mt:var id><mt:if is_folder>&amp;folder=<mt:var folder escape="html"></mt:if>&amp;page=<mt:var page_prev_link>" onclick="window.parent.showNaviLoading (true);"><mt:var page_prev_link></a></li>
    </mt:if>
      <mt:ignore><li class="page_number"><mt:var page_current> / <mt:var page_max></li></mt:ignore>
    <mt:if name="page_next_link" ne="">
      <li id="next-link" class="last-child"><a href="<mt:var script_uri>?__mode=asset_navi&amp;blog_id=<mt:var blog_id>&amp;id=<mt:var id>&amp;_type=<mt:var object_type>&amp;bid=<mt:var id><mt:if is_folder>&amp;folder=<mt:var folder escape="html"></mt:if>&amp;page=<mt:var page_next_link>" onclick="window.parent.showNaviLoading (true);"><mt:var page_next_link></a></li>
    </mt:if>
    </ul></div>
<mt:else>
  <p><mt:if bid><__trans phrase="No assets"><mt:else><__trans phrase="No entry assets"></mt:if></p>
<mt:ignore><!-- /object_loop --></mt:ignore></mt:if>

</body>
</html>