<mtapp:setting
    id="thumbnail_size"
    label="<__trans phrase="Thumbnail Size">"
    hint="<__trans phrase="input the pixels of thumbnail images">"
	show_hint="1">
<input type="text" name="thumbnail_size" value="<mt:var name="thumbnail_size" escape="html">" style="width:50px;" /> <__trans phrase="pixels">
</mtapp:setting>