<mtapp:setting
    id="api_key"
    label="<__trans phrase="Picnik API Key">"
    hint="<__trans phrase="For using Picnik services, you need an API key of Picnik API. Please regist your account beforehand.">"
    show_hint="1">
<input type="text" name="api_key" value="<mt:var name="api_key" escape="html">" />
</mtapp:setting>