<mtapp:setting
    id="perms"
    label="<__trans phrase="Add extended permissions.">">
<textarea name="perms"><TMPL_VAR NAME=PERMS ESCAPE=HTML></textarea>
<p class="hint">
<__trans phrase="Format is ( setting_key:display_name ).One line is one item.">
<br />
(<__trans phrase="SAMPLE">)
</p>
<p class="hint" style="margin-left: 20px;width: 350px;padding: 3px;border: solid 1px #cecece;" >
HIGH_LEVEL:<__trans phrase="HIGH_LEVEL"><br />
LOW_LEVEL:<__trans phrase="LOW_LEVEL"><br />
<br />
<br />
</p>
</mtapp:setting>