@charset "shift_jis";

/** -------------------------------- **
	Flash
*** ----------------------------------------------------------------- ***/

.flash_area {
width:937px;
height:340px;
margin:0 auto;
padding:10px 0 0;
}


/** -------------------------------- **
	コンテンツ枠
*** ----------------------------------------------------------------- ***/

.top_main {
width:934px;
margin:0 auto;
padding:10px 0 0;
}

.top_main .left_contents {
float:left;
width:746px;
margin:0;
padding:0 0 0;
}

.top_main .right_contents {
float:right;
width:182px;
margin:0;
padding:0 0 7px;
background:url(../images/bg_top-rightarea_btm.gif) bottom no-repeat;
}



/** -------------------------------- **
	左コンテンツ
*** ----------------------------------------------------------------- ***/

.left_contents .column {
width:746px;
margin:0;
padding:0 0 15px;
position:relative;
}

/**********************
　メニュー
**********************/

.left_contents .column ul.menu01 {
float:left;
width:564px;
margin:0;
padding:0 0 0;
text-align:left;
list-style:none;
font-size:1%;
line-height:1%;
}

.left_contents .column ul.menu01 li {
float:left;
width:182px;
margin:0;
padding:0 6px 0 0;
}

.left_contents .column ul.menu02 {
float:right;
width:182px;
margin:0;
padding:0 0 0;
text-align:left;
list-style:none;
font-size:1%;
line-height:1%;
}

.left_contents .column ul.menu02 li {
width:182px;
margin:0;
padding:0 0 2px 0;
}


/**********************
　最新情報
**********************/

/*** 一覧はこちら ボタン ***/

.left_contents .column p.bt_news {
	width:73px;
	height:19px;
	margin:0;
	padding:0;
	text-align:left;
	position:absolute;
	top:3px;
	left:480px;
	z-index:100;
}

.left_contents .column dl {
	float:left;
	width:549px;
	margin:0;
	padding:0 0 0 8px;
	text-align:left;
	z-index:1;
}

.left_contents .column dl dt {
	width:549px;
	height:27px;
	margin:0;
	padding:0;
	text-align:left;
	text-indent:-9999px;
	background:url(../images/top_h201.gif) top no-repeat;
}

.left_contents .column dl dd {
	width:549px;
	margin:0;
	padding:8px 0 0;
	text-align:left;
}

.left_contents .column dl dd dl {
	float:none;
	width:541px;
	margin:0;
	padding:0 0 8px 8px;
	text-align:left;
	background:url(../common/images/dotted_line01.gif) left bottom repeat-x;
}

.left_contents .column dl dd dl dt {
	float:left;
	width:84px;
	height:auto;
	margin:0;
	padding:0 0 0 16px;
	text-indent:0;
	text-align:left;
	background:url(../common/images/icon_arr01.gif) left no-repeat;
}

.left_contents .column dl dd dl dd {
	float:right;
	width:430px;
	margin:0;
	padding:0 0 0;
	text-align:left;
}

.left_contents .column dl dd dl dd img {
	margin-left:10px;
	vertical-align:text-bottom;
}

/**********************
　バナー
**********************/

.left_contents .column ul.bnr_list {
float:right;
width:182px;
margin:0;
padding:0 0 0;
text-align:left;
list-style:none;
font-size:1%;
line-height:1%;
}

.left_contents .column ul.bnr_list li {
width:182px;
margin:0;
padding:0 0 4px 0;
}


/** -------------------------------- **
	右コンテンツ
*** ----------------------------------------------------------------- ***/

.top_main .right_contents .column {
width:182px;
margin:0;
padding:7px 0 0;
background:url(../images/bg_top-rightarea.gif) top no-repeat;
}

.top_main .right_contents .column p {
width:170px;
margin:0 auto;
padding:0;
}

/**********************
　グループプロダクション
**********************/

.top_main .right_contents .column dl {
width:170px;
margin:10px auto 0;
padding:0 0 8px;
font-size:1%;
line-height:1%;
background:url(../images/bg_top-group_btm.gif) bottom no-repeat;
}

.top_main .right_contents .column dl dt {
width:170px;
height:34px;
margin:0;
padding:0;
text-align:left;
text-indent:-9999px;
background:url(../images/top_h202.gif) no-repeat;
}

.top_main .right_contents .column dl dd {
margin:0;
padding:3px 0 0;
text-align:center;
}

