<$mt:include name="include/header.tmpl"$>
<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save">"
        class="save action primary-button mt-submit-items"
        style="margin: 15px 0px 15px 0px"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>

<mt:if name="saved">
<mtapp:statusmsg id="saved" class="success" rebuild="$rebuild">
<__trans phrase="Your changes have been saved.">
</mtapp:statusmsg>
</mt:if>

<div id="asset-listing" class="listing ">

<form id="asset-listing-form" class="listing-form" method="post" action="<mt:var name="script_url">">
<input type="hidden" name="__mode" value="asset_batch_save" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" /> 

<div id="actions-bar-top" class="actions-bar actions-bar-top">
<span class="button-actions actions">
    <$mt:var name="action_buttons"$>
</span> 
</div>


<table  id="asset-listing-table" class="asset-listing-table compact" cellspacing="0">
<thead>
<tr>
<th class="file-status" style="width:10%;"><MT_TRANS phrase="thumbnail"></th>
<th class="file-name" style="width:20%;"><MT_TRANS phrase="lavel"></th>
<th class="file-size primary-col" style="width:40%;"><MT_TRANS phrase="description"></th>
<th class="file-size" style="width:20%;"><MT_TRANS phrase="tag"></th>
<th class="created-on" style="width:10%;"><MT_TRANS phrase="Last Modified"></th>
</tr>
</thead>
<tfoot>
<tr>
<th><MT_TRANS phrase="thumbnail"></th>
<th><MT_TRANS phrase="lavel"></th>
<th><MT_TRANS phrase="description"></th>
<th><MT_TRANS phrase="tag"></th>
<th><MT_TRANS phrase="Last Modified"></th>
</tr>
</tfoot>

<mt:Loop name="assets">
<tr>

<td>
<img src="<$mt:Var name="thumbnail_url" escape="html">">
</td>

<td>
<input type="text" name="label_<$mt:Var name="id">" value="<$mt:Var name="label">" class="small-text" style="width:100%;">
</td>

<td class="description">
<textarea name="description_<$mt:Var name="id">" rows="2" cols="30" style="width:100%;"><$mt:Var name="description"  class="small-text" style="width:60%;"></textarea>
</td>

<td>
<input type="text" name="tag_<$mt:Var name="id">" value="<$mt:Var name="tag">" class="small-text" style="width:100%;">
</td>

<td>
<input type="text" name="created_<$mt:Var name="id">" value="<$mt:Var name="created">" class="small-text" style="width:100%;">
</td>

</tr>

</mt:Loop>

</table>


<div id="actions-bar-top" class="actions-bar actions-bar-top">
<span class="button-actions actions">
    <$mt:var name="action_buttons"$>
</span> 
</div>

</form>

</div>


<$mt:include name="include/footer.tmpl"$>

